CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# ignore executables
main.bin
tri
server
load_game
server-loader

#ignore .so
*.so

# ignore strace output files
# Usage: strace -o strace_filename ./binary
strace*

# clangd lsp stuff
.cache
*.idx
