CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# ignore executables
main.bin

# ignore strace output files
# Usage: strace -o strace_filename ./binary
strace*

.cache

*.idx
